# Happy Hare MMU includes (should be near top of file)
[include mmu/base/*.cfg]
[include mmu/macros/*.cfg]
[include fluidd.cfg]
[include timelapse.cfg]
[include start_end.cfg]
[include macros.cfg]
[include test_speed.cfg]
[include KOMB.cfg]
[include T0.cfg]
[include boards/*.cfg]
[include steppers.cfg]

# Happy Hare Client macros (should be after last include or other PAUSE/CANCEL macros)
[include mmu/optional/client_macros.cfg]

[mcu]
canbus_uuid:f680cead16b6
canbus_interface: can1

[virtual_sdcard]
path: /home/brm/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 600#1000
max_accel: 20000#34000
max_z_velocity: 35
#max_z_velocity: 30
max_z_accel: 350
square_corner_velocity: 10
minimum_cruise_ratio: 0.30 #0.5

# [safe_z_home]
# home_xy_position: 150,150
# speed: 200
# z_hop: 10
# z_hop_speed: 30

[homing_override]
gcode:
  {% if 'X' not in params and 'Y' not in params and 'Z' not in params %}
    {% set params = 'XYZ' %}
  {% endif %}
  {% set homed_axes = printer.toolhead.homed_axes %}
  {% if 'z' not in printer.toolhead.homed_axes %}
    SET_KINEMATIC_POSITION Z=0
    G91
    G1 Z10 F2000
    G90
    {% if 'Z' not in params %}
      M84 # not homing Z? release again, set_kinematic_position is not safe!
      {% set homed_axes = '' %} # clear homed axes; the original isn't reevaluated
    {% endif %}
  {% endif %}
  {% if 'Y' in params or (('X' in params or 'Z' in params) and 'y' not in homed_axes) %}
    # home Y if requested, or if it's not homed and X or Z are requested
    G28 Y
  {% endif %}
  {% if 'X' in params or ('Z' in params and 'x' not in homed_axes) %}
    # home X if requested or if it's not homed and Z is requested
    G0 Y{printer.toolhead.axis_maximum.y} F12000 # must sit at Ymax to home
    G28 X
  {% endif %}
  {% if 'Z' in params %}
    # home z only if requested
    G0 X150 Y150 F12000
    G28 Z
    G0 Z10 F2000
  {% endif %}

[exclude_object]

### Input Shaping

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 85.2
damping_ratio_x: 0.061
shaper_type_y: mzv
shaper_freq_y: 57.8
damping_ratio_y: 0.054

[shaketune]
max_freq: 200

[gcode_arcs]
resolution: 0.1

#####################################################################
#       Auto speed
#####################################################################

[auto_speed]
#axis: diag_x, diag_y  ; One or multiple of `x`, `y`, `diag_x`, `diag_y`, `z`

margin: 100             ; How far away from your axes to perform movements

#settling_home: 1      ; Perform settling home before starting Auto Speed
#max_missed: 1.0       ; Maximum full steps that can be missed
#endstop_samples: 3    ; How many endstop samples to take for endstop variance

#accel_min: 1000.0     ; Minimum acceleration test may try
#accel_max: 50000.0    ; Maximum acceleration test may try
#accel_accu: 0.05      ; Keep binary searching until the result is within this percentage

#velocity_min: 50.0    ; Minimum velocity test may try
#velocity_max: 5000.0  ; Maximum velocity test may try
#velocity_accu: 0.05   ; Keep binary searching until the result is within this percentage

#derate: 0.8           ; Derate discovered results by this amount

#validate_margin: Unset      ; Margin for VALIDATE, Defaults to margin
validate_inner_margin: 75.0 ; Margin for VALIDATE inner pattern
#validate_iterations: 50     ; Perform VALIDATE pattern this many times

#results_dir: ~/printer_data/config ; Destination directory for graphs

#####################################################################
# 	Probe
#####################################################################

# [probe]
# ### Voron TAP
# pin: ^ebb:gpio22
# x_offset: 0
# y_offset: 0
# #z_offset: 0
# speed: 5
# samples: 5
# samples_result: median
# sample_retract_dist: 3.0
# #samples_tolerance: 0.006
# samples_tolerance: 0.015
# samples_tolerance_retries: 5 

[firmware_retraction]
retract_length: 0.5
retract_speed: 20
unretract_speed: 10

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - HE1
heater_pin: HE0 
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type: Generic 3950
sensor_pin: THB
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  10A / (650W / 220V) = 
##  If max_power is greater than 1.0, use 1.0
max_power: 1.0  # 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#       Fans
#####################################################################

# [temperature_sensor chamber]
# sensor_type: Generic 3950
# sensor_pin: sb2209:TH0
# max_temp: 80
# [fan_generic bed]
# pin: FAN2
# kick_start_time: 1.0
[heater_generic chamber]
heater_pin: FAN2
# sensor_type: Generic 3950
# sensor_pin: sb2209:TH0
sensor_type: temperature_combined
sensor_list: temperature_sensor chamber_top, temperature_sensor chamber_gantry
combination_method: mean
maximum_deviation: 50
control: pid
pid_Kp: 61.470837
pid_Ki: 0.5
pid_Kd: 0
pwm_cycle_time: 0.01
min_temp: -273.15
max_temp: 75
max_power: 0.9
gcode_id: C
[verify_heater chamber]
max_error: 120
check_gain_time: 240
hysteresis: 50
heating_gain: 1

[temperature_sensor chamber_top]
sensor_type: Generic 3950
sensor_pin: TH2
max_temp: 100
[temperature_sensor chamber_gantry]
sensor_type: Generic 3950
sensor_pin: sb2209:TH0
max_temp: 100

[temperature_sensor b_motor]
sensor_type: Generic 3950
sensor_pin: TH1
max_temp: 120

[temperature_sensor a_motor]
sensor_type: Generic 3950
sensor_pin: TH0
max_temp: 120

[temperature_sensor mcu]
sensor_type: temperature_mcu
max_temp: 100

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

#[fan_generic exhaust_fan]
#pin: PE5 # Exhaust
#kick_start_time: 0.5

#[fan_generic filter]
#pin: PE6 # Nevermore
#kick_start_time: 1.0

[controller_fan electronics_fans]
pin: FAN0
kick_start_time: 1
fan_speed: 0.8
heater: heater_bed, extruder
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, stepper_z3

[controller_fan drivers_fan]
pin: FAN3
#fan_speed: 0.8
#stepper: stepper_x, stepper_x1, stepper_y, stepper_y1, stepper_z, stepper_z1, stepper_z2, stepper_z3
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, stepper_z3

[temperature_fan host]
pin: FAN1
kick_start_time: 2
target_temp: 65
min_speed: 0.5
max_speed: 0.8
sensor_type: temperature_host
control: watermark
max_delta: 3
min_temp: 0
max_temp: 90
shutdown_speed: 0

[nevermore]
bt_address: 28:CD:C1:01:D0:53
fan_power_passive: 0
fan_power_automatic: 0.5
fan_power_coefficient: 0.8  # lower max power to keep things much more quiet
fan_thermal_limit_temperature_min: 60
fan_thermal_limit_temperature_max: 70
fan_thermal_limit_coefficient: 0.5
fan_policy_cooldown: 600
fan_policy_voc_passive_max: 300
fan_policy_voc_improve_min: 0
print_mode_min_bed_target: 90

[multi_pin daylight_pins]
pins: HE1, HE2

[output_pin daylight]
pin: multi_pin:daylight_pins
pwm: true
shutdown_value: 0
cycle_time: 0.01
value: 0.15

#[filter_monitor filter_monitor]
#fan: fan_generic filter
#max_runtime_hours: 50 # Defaults to 50 hours
#max_days: 45 # Defaults to 30 days
#interval: 30 # Defaults to 30 seconds
#stats_caption: "Filtration medium at"
## Output override for FILTER_STATS macro. Defaults to "<filter_name> at". e.g. Air Filter at 98%
## expiry_gcode: # Executed when filter meets threshold condition


#####################################################################
#       Quad Gantry Leveling
#####################################################################
[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
points:
	 40,  10  #50,25
	 40, 225 #50,225
	260, 225 #250,225
	260,  10 #250,25
speed: 300
horizontal_move_z: 10
retries: 8
retry_tolerance: 0.0075
max_adjust: 15
adaptive_horizontal_move_z: true
min_horizontal_move_z: 0.5


#####################################################################
#       Helper sb2209
#####################################################################
[mcu sb2209]
canbus_uuid: 154b3ac5af45
canbus_interface: can1

#####################################################################
#       Scanner
#####################################################################

[mcu cartographer]
#canbus_uuid:9a1116d82a02
canbus_uuid: 2bdb8aa0b735
canbus_interface: can0

[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 20
verbose: yes

[cartographer scan]
probe_speed: 5

[cartographer touch]
samples: 5
max_samples: 15

[bed_mesh]
zero_reference_position: 150, 150
speed: 300
#speed: 75
horizontal_move_z: 5
mesh_min: 50, 30
mesh_max: 250, 260
algorithm: bicubic
#probe_count: 10, 10
probe_count: 7, 7

[resonance_tester]
accel_chip: lis2dw ebb
#accel_chip: adxl345 cartographer
probe_points:
    150, 150, 35
#sweeping_period: 0
accel_per_hz: 110
#max_freq: 200
max_freq: 170

[adxl345 cartographer]
cs_pin: cartographer:PA0 # For Cartographer V4
spi_bus: spi1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.073
#*# pid_ki = 2.639
#*# pid_kd = 59.548
#*# pid_version = 1
#*# pid_target = 260.00
#*# pid_tolerance = 0.0200
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.771
#*# pid_ki = 2.612
#*# pid_kd = 330.588
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.7836369213178656,2.260575686042747,0.8427162567747559,0.36793105079230093,0.15654743684568048,0.02450277259777865,-0.09882931698856388,0.08497701630583794,0.1254620394620014,-0.02336815341807518
#*# domain = 3.4373209659676526e-07,3.465429663652717e-07
#*# z_offset = 0
#*# reference_temperature = 27.28
#*# software_version = 1.9.0
#*# mcu_version = CARTOGRAPHER V4 6.1.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 792
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.9.0
#*# mcu_version = CARTOGRAPHER V4 6.1.0
