[mcu T0]
#canbus_uuid:2955b471ea40
canbus_uuid:bb57ba6831d8
canbus_interface: can0

[temperature_sensor ebb_temp]
sensor_type: Generic 3950
sensor_pin: T0:EBB_TH
pullup_resistor: 2200

############
# Extruder #
############

[extruder]
step_pin: T0:E_STEP
dir_pin: !T0:E_DIR
enable_pin: !T0:E_EN
microsteps: 16

rotation_distance: 22.6789511
#rotation_distance: 22.770 NO
gear_ratio: 50:10

nozzle_diameter: 0.500
filament_diameter: 1.750
heater_pin: T0:HE
#pwm_cycle_time: 0.01

sensor_type: PT1000
sensor_pin: T0:TH
pullup_resistor: 2200

# sensor_type: MAX31865
# sensor_pin: T0:MAX_CS
# spi_bus: spi1
# # spi_software_sclk_pin: T0:MAX_SCLK
# # spi_software_mosi_pin: T0:MAX_MOSI
# # spi_software_miso_pin: T0:MAX_MISO
# rtd_nominal_r: 1000
# rtd_reference_r: 4300
# rtd_num_of_wires: 2

pressure_advance: 0
#pressure_advance_smooth_time: 0.040
pressure_advance_smooth_time: 0.020
min_temp: 0
max_temp: 300
#min_extrude_temp: 0                                   ## use this for estep calbration only##
min_extrude_temp: 150                                 ## enable this ones you have done extruder calibration steps and comment out the above line.
max_extrude_only_distance: 120
max_extrude_cross_section: 5 # KAMP setting needed
 
[tmc2209 extruder]
uart_pin: T0:E_UART
run_current: 0.6#0.5
sense_resistor: 0.110
#interpolate: true
interpolate: false
#stealthchop_threshold: 0

# [autotune_tmc extruder]
# motor: moons-cse14hra1l410a
# tuning_goal: performance

###############
# Fan Control #
###############

[heater_fan hotend_fan]
pin: T0:FAN2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 60.0
tachometer_pin: ^T0:FAN2_TACH
tachometer_ppr: 2
tachometer_poll_interval: 0.0006

[multi_pin pc_fans]
pins: T0:FAN0, T0:FAN1

[fan]
pin: multi_pin:pc_fans
kick_start_time: 0.5

########
# ADXL #
########

[lis2dw ebb]
cs_pin: T0:LIS2DW_CS
spi_bus: spi2_PB2_PB11_PB10
axes_map: x,z,-y

#####################################################################
#   Temperature Sensor
#####################################################################

[temperature_sensor T0]
sensor_type: temperature_mcu
sensor_mcu: T0
min_temp: 0
max_temp: 125

#####################################################################
#   RGB
#####################################################################

[neopixel T0_leds]
pin: T0:RGB
chain_count: 3
color_order: GRBW

##########################
# LED Effects Animations #
##########################

#########
[led_effect weewoo_a]
autostart: false
frame_rate: 12
leds: neopixel:T0_leds (2)
layers:
#  breathing 2 0 add (1,0,0),(0,0,1)
#  breathing 2 0 add (0,0,1),(1,0,0)
#  gradient 1 1 top (0.5,0,0),(0,0,1)
  blink 0.5 1 top (0.5,0,0),(0,0,1)

[led_effect weewoo_b]
autostart: false
frame_rate: 12
leds: neopixel:T0_leds (3)
layers:
#  breathing 2 0 add (0,0,1),(1,0,0)
  blink 0.5 1 top (0,0,1),(0.5,0,0)

[led_effect effect_ready]
autostart: true
frame_rate: 12
leds: neopixel:T0_leds (1)
layers:
  static 0 0 top (0.05,0,0.1)


[led_effect toolhead_logo_busy]
autostart:              false
frame_rate:             12
leds:
    neopixel:T0_leds (1)
layers:
    breathing  3 1 top (1,0,0)

[led_effect toolhead_logo_cleaning]
autostart:              false
frame_rate:             12
leds:
    neopixel:T0_leds (1)
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

[led_effect toolhead_logo_calibrating_z]
autostart:              false
frame_rate:             12
leds:
    neopixel:T0_leds (1)
layers:
        breathing  3 1 top (0.0, 0.0, 0.35)

[led_effect toolhead_logo_heating]
leds:
    neopixel:T0_leds (1)
autostart:                          false
frame_rate:                         16
layers:
     #breathing  3 1 top (0.5, 0.18, 0)
     static 0 0 top (0.5, 0.2, 0)

[led_effect toolhead_logo_cooling]
leds:
    neopixel:T0_leds (1)
autostart:                          false
frame_rate:                         24
layers:
     breathing  3 1 top (0, 0, 1)

[led_effect toolhead_logo_homing]
autostart:              false
frame_rate:             12
leds:
    neopixel:T0_leds (1)
layers:
        breathing  3 1 top (0.0, 0.6, 0.2)

[led_effect toolhead_logo_leveling]
autostart:              false
frame_rate:             12
leds:
    neopixel:T0_leds (1)
layers:
        breathing  3 1 top (0.5, 0.1, 0.4)

[led_effect toolhead_logo_meshing]
autostart:              false
frame_rate:             12
leds:
    neopixel:T0_leds (1)
layers:
        strobe  1.5 0.8 top (0.5, 0.5, 0.5)

[led_effect toolhead_logo_printing]
autostart:              false
frame_rate:             12
leds:
    neopixel:T0_leds (1)
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

[led_effect toolhead_logo_standby]
autostart:              false
frame_rate:             12
leds:
    neopixel:T0_leds (1)
layers:
        breathing  3 1 top (0.01, 0.01, 0.01)

[led_effect toolhead_logo_part_ready]
autostart:              false
frame_rate:             12
leds:
    neopixel:T0_leds (1)
layers:
        breathing  3 1 top (0.0, 1.0, 0.0)

####################
## nozzle effects ##
####################

[led_effect toolhead_nozzle_heating]
autostart:              false
frame_rate:             12
leds:
    neopixel:T0_leds (2,3)
layers:
        #breathing  3 1 top (0.5, 0.18, 0.0, 0.5)
        static      0 0 top (0.5, 0.18, 0.0, 0.5)

[led_effect toolhead_nozzle_cooling]
autostart:              false
frame_rate:             12
leds:
    neopixel:T0_leds (2,3)
layers:
        breathing  3 1 top (0.0, 0.0, 1.0, 0.1)

[led_effect toolhead_nozzle_standby]
autostart:              false
frame_rate:             12
leds:
    neopixel:T0_leds (2,3)
layers:
        breathing  3 1 top (0.6, 0.0, 0.0, 0.0)

[led_effect toolhead_nozzle_part_ready]
autostart:              false
frame_rate:             12
leds:
    neopixel:T0_leds (2,3)
layers:
        breathing  3 1 top (0.6, 1.0, 0.0, 0.1)


#####################
## all led effects ##
#####################

[led_effect toolhead_critical_error]
leds:
    neopixel:T0_leds
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            12
run_on_error:                          true


[led_effect rainbow]
leds:
    neopixel:T0_leds
autostart:                          false
frame_rate:                         12
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

#######################
# LED Effects Statics #
#######################

[led_effect set_nozzle_leds]
leds:
    neopixel:T0_leds (2,3)
autostart:                          true
frame_rate:                         12
layers:
    static         0  0     top        (0.0,  0.0, 0.0, 1.0)

[led_effect set_logo_leds]
leds:
    neopixel:T0_leds (1)
autostart:                          false
frame_rate:                         12
layers:
    static         0  0     top        (1.0,  1.0, 1.0)

##############
# The Macros #
##############

[gcode_macro _set_logo_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds STOP=1

[gcode_macro _set_logo_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds

[gcode_macro _set_nozzle_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds

[gcode_macro _set_nozzle_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds STOP=1

[gcode_macro _status_off]
gcode:
    STOP_LED_EFFECTS

[gcode_macro _status_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=effect_ready
    _set_nozzle_leds_on

[gcode_macro _status_part_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=toolhead_nozzle_part_ready
    SET_LED_EFFECT EFFECT=toolhead_logo_part_ready

[gcode_macro _status_busy]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=toolhead_logo_busy
    _set_nozzle_leds_on

[gcode_macro _status_heating]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=toolhead_logo_heating
    SET_LED_EFFECT EFFECT=toolhead_nozzle_heating

[gcode_macro _status_cooling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=toolhead_logo_cooling
    SET_LED_EFFECT EFFECT=toolhead_nozzle_cooling


[gcode_macro _status_leveling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=toolhead_logo_leveling
    _set_nozzle_leds_on

[gcode_macro _status_homing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=toolhead_logo_homing
    _set_nozzle_leds_on

[gcode_macro _status_cleaning]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=toolhead_logo_cleaning
    _set_nozzle_leds_on

[gcode_macro _status_meshing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=toolhead_logo_meshing
    #set_nozzle_leds_on
    SET_LED_EFFECT EFFECT=weewoo_a
    SET_LED_EFFECT EFFECT=weewoo_b

[gcode_macro _status_calibrating_z]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=toolhead_logo_calibrating_z
    _set_nozzle_leds_on

[gcode_macro _status_printing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=toolhead_logo_printing
    _set_nozzle_leds_on
